<div class="container">
  <center>
    <h1>Mon Profile</h1>

    <h3>Hi <%= @user.name.capitalize %></h3>
    <h3>Your email is:</h3><%= @user.email %>
    <%  if @user.id == current_user.id %>
      <%= link_to 'Modifier', edit_user_path %>
    <%end%>
    </br>
  </center>
</div>
